body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1, h3 {
    text-align: center;
}

#task-form {
    margin-bottom: 20px;
}

input[type="text"], input[type="date"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: #8a6b36;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #714f2c;
}

#tasks ul {
    list-style-type: none;
    padding: 0;
}

#tasks li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border-left: 5px solid;
}

.high-priority {
    border-left-color: red;
}

.low-priority {
    border-left-color: green;
}
